/**********fonts*********/
$headings-font: 'PT Serif';
/******links colors******/

$lifestyle: #354dff;
$culture: #ff54c3;
$food: #0fd150;
$travel: #ffae33;

/*****screen sizes*****/
$small: 500px;
$medium: 800px;
$large: 1000px;

/*****units*********/
$unit-small: 8px;
$unit: 16px;
$unit-large: 32px;


